ul{
    background-color: rgb(184, 230, 227);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left; 
    color: rgb(212, 209, 209);
}

.link{
    
    display: block;
    color: rgb(11, 10, 10);
    text-decoration: none;
}
#title{
    text-decoration: none;
    text-align: center;
    font-family: Algerian;
    letter-spacing:3px;
    font-size: 40px;
}
/* .link :hover{
    color: black;
} */